VetisDB/Connected Services/EnterpriseServiceProd/base_ws_definitions_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:bs="http://api.vetrf.ru/schema/cdm/base" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://api.vetrf.ru/schema/cdm/base/ws-definitions" version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="base_v2.0.xsd" namespace="http://api.vetrf.ru/schema/cdm/base" />
  <xs:element name="entityNotFoundFault" type="bs:FaultInfo" />
  <xs:element name="incorrectRequestFault" type="bs:FaultInfo" />
  <xs:element name="internalServiceFault" type="bs:FaultInfo" />
  <xs:element name="offsetOutOfRangeFault" type="bs:FaultInfo" />
  <xs:element name="requestRejectedFault" type="bs:FaultInfo" />
  <xs:element name="accessDeniedFault" type="bs:FaultInfo" />
</xs:schema>